# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
*.db.backup*
*.sqlite3

# Logs
*.log

# Media files
uploads/*
!uploads/.gitkeep
app/static/img/*
!app/static/img/.gitkeep
app/static/profile_images/*
!app/static/profile_images/.gitkeep

# Environment variables
.env
.env.*

# Migration files
migrations/versions/*
!migrations/versions/.gitkeep

# Temporary files
*.bak
*.tmp
*.temp
*~

# System files
.DS_Store
Thumbs.db 