{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Image Testing</h1>
    
    <div class="card mb-4">
        <div class="card-header">Current User Profile Image</div>
        <div class="card-body">
            {% if current_user.is_authenticated %}
                <p>Current user: {{ current_user.username }}</p>
                {% if current_user.profile_image %}
                    <p>Profile image path: {{ current_user.profile_image }}</p>
                    <p>Profile image URL: {{ current_user.profile_image_url }}</p>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Using profile_image_url property:</h5>
                            <img src="{{ current_user.profile_image_url }}" class="img-fluid" alt="Profile Image">
                        </div>
                        <div class="col-md-4">
                            <h5>Using url_for:</h5>
                            <img src="{{ url_for('static', filename='img/' + current_user.profile_image) }}" class="img-fluid" alt="Profile Image">
                        </div>
                        <div class="col-md-4">
                            <h5>Using direct path:</h5>
                            <img src="/static/img/{{ current_user.profile_image }}" class="img-fluid" alt="Profile Image">
                        </div>
                    </div>
                {% else %}
                    <p>No profile image set for this user.</p>
                {% endif %}
            {% else %}
                <p>Not logged in.</p>
            {% endif %}
        </div>
    </div>
    
    <div class="card mb-4">
        <div class="card-header">Test Images from Profile Images Directory</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5>Test Image 1:</h5>
                    <p>Path: 341ba2de-57b1-4597-a480-1b15600c3d8f_P.PIC.jpg</p>
                    <img src="/static/img/341ba2de-57b1-4597-a480-1b15600c3d8f_P.PIC.jpg" class="img-fluid" alt="Test Image">
                </div>
                <div class="col-md-6">
                    <h5>Test Image 2:</h5>
                    <p>Path: 7df7ce75-9ac1-4a8c-8ec8-fe795c13cfd3_WhatsApp_Image_2025-04-29_at_12.44.44_0038382c.jpg</p>
                    <img src="/static/img/7df7ce75-9ac1-4a8c-8ec8-fe795c13cfd3_WhatsApp_Image_2025-04-29_at_12.44.44_0038382c.jpg" class="img-fluid" alt="Test Image">
                </div>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">Other Static Files</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5>UMAT Logo:</h5>
                    <img src="{{ url_for('static', filename='logo.png') }}" class="img-fluid" alt="Logo">
                </div>
                <div class="col-md-6">
                    <h5>Background Image:</h5>
                    <img src="{{ url_for('static', filename='bg.jpg') }}" class="img-fluid" alt="Background">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 